    :root {
      --success-color: #05EA00
    }
  
  .bg-mainColor {
    background-color: var(--main-color);
  }
  
  .text-mainColor {
    color: var(--main-text-color)!important;

  }
  
  .bg-second {
    background-color:var(--second-color) !important;
  }

  .bg-third {
    background-color:var(--third-color) !important;
  }

  .bg-forth {
    background-color:var(--forth-color) !important;
  }

  .bg-success-color {
    background-color: var(--success-color)!important;
  }
  
   .hide {
    display: none;
   }

.progress {
    border-radius: 0!important;
}

.coin-count {
  border: solid goldenrod 1px;
  /* min-width: 140px; */
}

.fa-coins {
  color: goldenrod;
}

.coin-count h4, .coin-count h3 {
  font-size: 35px;
  padding: 0;
  margin: 0;
}

/* calandar */
.calendar .view {
  margin-top: 20px;
}

.calendar .change-view {
  margin-top: 10px;
  margin-bottom: 20px;
}

.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar th {
  padding: 10px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
}

.calendar td {
  min-height: 50px;
  /* padding: 10px; */
  text-align: center;
  border: none;
}

.calendar .day-cell {
  /* background-color: aqua; */
  padding: 20px;
  border: #007bff solid 1px;
  /* padding: 80px 0; */
}

.calendar a {
  /* color: black; */
  text-decoration: none;
}

.calendar a:hover {
  filter: invert(100);
}

.calendar .active {
  background-color: #007bff;
  color: #fff;
}

.calendar button {
  margin-right: 10px;
}

.calendar .prev-month,
.calendar .next-month {
  opacity: 0.5;
}

.calendar .today {
  /* background-color: var(--success-color); */
  background-color: #007bff;
  color: #fff;
}
