    :root {
      --main-color: '';
      --second-color: '';
    }
  
  .bg-mainColor {
    background-color: var(--main-color);
  }
  
  .text-mainColor {
    color: var(--main-color);
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  
  .bg-second {
    background-color:var(--second-color) !important;
  }
  
   .hide {
    display: none;
   }

.view {
    display: flex;
    align-items: center;
}

.selected-date {
    font-size: 35px;
    line-height: 1;
    /* padding-bottom: 32px; */
}

.arrow-btn {
    height: 30px;
    border: none;
}

.sidenav-item .nav-link {
    width: 100%;
    padding: 20px 0;
}

.sidenav-item a {
    text-align: center;
}

.sidenav-item {
    /* padding: 32px; */
}

.navbar-toggler:focus {
    box-shadow: none!important;
}

.sidenav-item .active {
    background-color: #007bff;
    color: #fff;
  }

  .sidenav-item:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .sidenav-item h5 {
    font-size: 15px;
  }

  /* modal */
  .pick-goal-modal {
    padding: 20px 0;
    border: none;
}

.pick-goal-modal .list-group-item {
    border: none;
}

.list-group-item {
    border-bottom-right-radius: none!important;
    border-bottom-left-radius: none!important;
}

.modal-nav-col h2 {
    font-size: 20px;
}

.in-between {
    margin: 5px;
    border-top: var(--bs-border-width) solid;
}

.open-goal-modal-btn {
    width: 40px;
}

.add-your-own-goal-btn {
    margin: 15px 0;
}
